<div class="container">
    <div class="main">
        <div class="content">
            <ul class="nav nav-pills nav-justified mb-3 gap-2">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" routerLink="/signin">Login</a>
                </li>
            </ul>
            <!-- Pills navs -->
            
            <!-- Pills content -->
            <div class="tab-content">
                <div class="tab-pane fade active show" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                    <form (ngSubmit)="onAdd()" #formSignin="ngForm">
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input [(ngModel)]="user.email" type="text" class="form-control" name="email">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input [(ngModel)]="user.password" name="password" type="text" class="form-control">
                        </div>
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
