<div class="container">
    <div class="main">
        <div class="content">
            <div class="content-title">
                <h4>Featured works</h4>
            </div>
            <div class="content-main">
                <div class="content-main__item" *ngFor="let item of data">
                    <div class="content-item__img">
                        <a href={{item.link}} target="_blank" rel="noopener noreferrer">
                        <img src={{item.img}} alt="">
                        </a>
                    </div>
                    <div class="content-item__main">
                        <div class="content-item__title">
                            <h4>{{item.name}}</h4>
                        </div>
                        <div class="content-item__properties">
                            <div class="date">{{ item.createAt | date:'mediumDate' }}</div>
                            <div class="tool">{{item.tool}}</div>
                        </div>
                        <div class="desc">
                            {{item.desc}}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>